<config>
  <ldp xmlns="http://ciena.com/ns/yang/ciena/ciena-ldp">
    <instance>
      <tag>default</tag>
     <target-ldp>
        <peers>
          <address>{{ peerip }}</address>
        </peers>
     </target-ldp>
    </instance>
  </ldp>
</config>
