<config>  
  <classifiers>
    {% if createUntaggedClassifier  %}
    <classifier operation="delete">
      <name>Untagged</name>
   </classifier>
    {% endif %}
    {% for classifier in taggedClassifiers %}
    <classifier operation="delete">
      <name>clsfr_v{{classifier}}</name>
   </classifier>
    {% endfor %}
  </classifiers>
</config>
