<config>  
  <sfs xmlns="urn:ciena:params:xml:ns:yang:ciena-pn::ciena-sf">
    <sf>
      <sf-name>{{ vnfName }}</sf-name>
      <sf-operation>
          <state>start</state>
      </sf-operation>
    </sf>
  </sfs>
</config>
